/* Reset default styles for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.07em;
  }
  
  /* Global styles */
  :root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --background-color: #f5f5f5;
    --text-color: #333333;
  }
  html {
    width: 100%;
    touch-action: manipulation;
  }
  body {
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: var(--background-color);
  }
  
  /* Table container */
  .table-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
  }
  
  /* Table styles */
  table {
    width: 100%;
    border-collapse: collapse;
    color: var(--text-color);
  }
  thead{
    position: sticky;
    top: -1px;
  }
  th,
  td {
    padding: 12px;
    text-align: center;
    font-weight: bold;
    border: 1px solid var(--secondary-color);
  }
  
  th {
    background-color: var(--primary-color);
    color: #fff;
  }
  
  tr:nth-child(even) {
    background-color: #fff;
  }
  
  tr:hover {
    background-color: #f8f8f8;
  }
  
  /* Buttons */
  .button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -1px;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  /* Cell styles */
  .cell-right {
    text-align: right;
  }
  
  .cell-red {
    border-left: 5px solid #c0392b;
  }
  
  .cell-green {
    border-left: 5px solid #00b050;
  }
  
  .cell-blue {
    border-left: 5px solid #0070c0;
  }
  .hide {
    opacity: 0%;
  }
  /* Mobile styles */
  @media only screen and (min-device-width: 600px) and (max-device-width: 1024px) and (orientation: portrait) {
    * {
        font-size: 1.15em !important;
    }
    th, td {
        padding: 6px;
    }
    .button{
        font-size: .7em !important;
    }
  }

  